// Custom.scss
// Option A: Include all of Bootstrap
@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Agbalumo&display=swap");
// Include any default variable overrides here (though functions won't be available)


// body bg color
$body-bg: rgb(255, 255, 255);


// === VARIABLES ===
$primary-color: #3b1c0f; // dark espresso brown
$accent-color: #d4af37;  // warm gold
$light-bg: #f9f5ef;
$font-serif: 'Playfair Display', serif;

// === BASE STYLES ===
body {
  font-family: $font-serif;
  color: $primary-color;
  background-color: $light-bg;
  margin: 0;
  padding: 0;
}